---
- when: ssh_key_url is defined
  block:
    - name: Download an identity key to the target's ~/.ssh dir
      get_url:
        url: "{{ ssh_key_url }}"
        dest: ~/.ssh/
        mode: '0600'

    - set_fact:
        ssh_key_name: "{{ ssh_key_url | basename }}"

- when: ssh_key is defined
  block:
    - name: Copy the ssh_key to the target's ~/.ssh dir
      copy:
        src: "{{ ssh_key }}"
        dest: ~/.ssh/
        remote_src: "{{ remote_src | default(false) }}"

    - set_fact:
        ssh_key_name: "{{ ssh_key | basename }}"

- name: Generate ssh config entry to a temp file
  template:
    src: ../templates/ssh_config.j2
    dest: /tmp/ssh_config_entry

- name: Append ssh config entry to the ~/.ssh/config
  shell: >
    cat /tmp/ssh_config_entry >> ~/.ssh/config

- name: Delete the temp file
  file:
    path: /tmp/ssh_config_entry
    state: absent
