---
- name: Clone the job_data repo to localhost
  git:
    repo: "{{ job_data_repo }}"
    dest: "{{ clone_job_data_repo_to }}"
    update: true
    clone: true
  delegate_to: localhost
  when: clone_to_localhost | bool

- name: Clone the job_data repo
  git:
    repo: "{{ job_data_repo }}"
    dest: "{{ clone_job_data_repo_to }}"
    update: true
    clone: true
  when: not clone_to_localhost | bool

- when: clone_to_localhost | bool
  delegate_to: localhost
  block:
    - name: Check the job_name dir exists on localhost
      stat:
        path: "{{ clone_job_data_repo_to }}/{{ job_data_repo_dest }}/{{ job_name }}"
      register: job_name_details

    - name: Create job_name dir if it doesn't exist already on localhost
      file:
        path: "{{ clone_job_data_repo_to }}/{{ job_data_repo_dest }}/{{ job_name }}"
        state: directory
        mode: '0755'
      when: not job_name_details.stat.exists | bool

- when: not clone_to_localhost | bool
  block:
    - name: Check the job_name dir exists
      stat:
        path: "{{ clone_job_data_repo_to }}/{{ job_data_repo_dest }}/{{ job_name }}"
      register: job_name_details

    - name: Create job_name dir if it doesn't exist already
      file:
        path: "{{ clone_job_data_repo_to }}/{{ job_data_repo_dest }}/{{ job_name }}"
        state: directory
        mode: '0755'
      when: not job_name_details.stat.exists | bool

- name: Gather job data files to localhost
  fetch:
    src: "{{ stestr_path }}/{{ item }}"
    dest: "{{ clone_job_data_repo_to }}/{{ job_data_repo_dest }}/{{ job_name }}/"
  loop: "{{ job_data_files }}"
  when: clone_to_localhost | bool

- name: Gather job data files
  copy:
    src: "{{ stestr_path }}/{{ item }}"
    dest: "{{ clone_job_data_repo_to }}/{{ job_data_repo_dest }}/{{ job_name }}/"
    remote_src: true
  loop: "{{ job_data_files }}"
  when: not clone_to_localhost | bool

- import_tasks: ../../../tasks/commit_push.yaml
  delegate_to: localhost
  when: clone_to_localhost

- import_tasks: ../../../tasks/commit_push.yaml
  when: not clone_to_localhost | bool
